*{
    font-family: "Inter", serif;
}

.custom-container{
    max-width: 1288px;
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;
}
.btn-primary,
.btn-secondary{
    font-size: 11px;
    color: #fff;
    border: 1px solid rgba(255, 255, 255, 0.5);;
    display: inline-block;
    line-height: 1;
    display: inline-flex;
    align-items: center;
    transition: .3s;
}
.btn-primary{
    padding: 8px 16px 8px 16px;
}
.btn-secondary{
    padding: 14px 46px 14px 46px;
}
.btn-primary:hover{
    color: #262626;
    background-color: #fff;
}
.btn-secondary:hover{
    color: #000;
    border-color: #000;
}
.title{
    font-size: 27px;
    color: #fff;
    padding-left: 110px;
    position: relative;
    font-weight: 300;
}
.title::before{
    content: "";
    position: absolute;
    width: 80px;
    height: .1px;
    background-color: #808080;
    top: 50%;
    transform: translateY(-50%);
    left: 0px;
}
.mySwiper-projetos{
    overflow: visible !important;
}


@media screen and (max-width: 1024px) {
    .title{
        padding-left: 0;
    }
    .title::before{
        top: -12px;
    }
    .container-footer::before{
        top: 130px;
    }
    .container-footer::after{
        bottom: 190px !important;
    }
    .mySwiper-clientes .swiper-slide{
        width: 40% !important;
    }
    
}

